.vscode/**
.vscode-test/**
test/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/jsconfig.json
**/*.map
**/eslint.config.mjs
**/.vscode-test.*
core/test/**
cli/test/**
.pre-commit-hooks.yaml
build/**
images/icon.svg
